## List

- List is nothing but collection of diifferent types of data like array in c language
- List represented by [] braces
- list is a mutable data type

In [2]:
l=[]
type(l),l

(list, [])

In [5]:
l=[1,2,"hello",3.4,True,[1,2,3]]
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

### indexing list

In [12]:
l[0]

1

In [15]:
 l[-1]

[1, 2, 3]

In [16]:
l[-2]

True

In [17]:
l[3]

3.4

In [18]:
l[-1][1]

2

### List slicing

In [6]:
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [7]:
l[2:4]

['hello', 3.4]

In [8]:
l[-2:]

[True, [1, 2, 3]]

In [9]:
l[::-1]

[[1, 2, 3], True, 3.4, 'hello', 2, 1]

In [10]:
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [11]:
l[-1][::-1]

[3, 2, 1]

In [13]:
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [14]:
l[0]=10
l

[10, 2, 'hello', 3.4, True, [1, 2, 3]]

In [19]:
del l[0]

In [20]:
l

[2, 'hello', 3.4, True, [1, 2, 3]]

In [23]:
l[1]=5
l

[2, 5, 3.4, True, [1, 2, 3]]

In [26]:
len(l)

5

In [29]:
marks=[6,5,4,9,5]
min(marks)

4

In [30]:
max(marks)

9

In [31]:
sum(marks)

29

In [32]:
sorted(marks)

[4, 5, 5, 6, 9]

In [33]:
sorted(marks,reverse=True)

[9, 6, 5, 5, 4]

In [34]:
sorted(marks,reverse=False)

[4, 5, 5, 6, 9]

In [35]:
sum(marks)//len(marks)

5

In [36]:
marks+[8,7,2]

[6, 5, 4, 9, 5, 8, 7, 2]

In [38]:
marks

[6, 5, 4, 9, 5]

In [39]:
marks*2

[6, 5, 4, 9, 5, 6, 5, 4, 9, 5]

### List methods

In [42]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [43]:
marks.append(10)  #  add one element in list

In [44]:
marks

[6, 5, 4, 9, 5, 10]

In [45]:
marks.extend([20,30]) # add 1 and more elements

In [46]:
marks

[6, 5, 4, 9, 5, 10, 20, 30]

In [47]:
marks.pop() # last added element deleted

30

In [48]:
marks.pop(0) # particular item deleting

6

In [49]:
marks

[5, 4, 9, 5, 10, 20]

In [50]:
marks.insert(0,8) # placing element in posision
marks

[8, 5, 4, 9, 5, 10, 20]

In [53]:
marks.index(5)

1

In [55]:
marks.reverse() #reversing

[20, 10, 5, 9, 4, 5, 8]

In [56]:
marks.sort() #sorting
marks

[4, 5, 5, 8, 9, 10, 20]

In [57]:
marks.count(10)

1

In [58]:
marks.count(-1)

0

In [59]:
marks2=marks.copy() # copying to annother file with same elements

In [60]:
marks

[4, 5, 5, 8, 9, 10, 20]

In [61]:
marks2

[4, 5, 5, 8, 9, 10, 20]

In [62]:
marks2.clear() # deleting the elements

In [63]:
marks2

[]

### using for loop

In [64]:
for item in marks:
    print(marks)

[4, 5, 5, 8, 9, 10, 20]
[4, 5, 5, 8, 9, 10, 20]
[4, 5, 5, 8, 9, 10, 20]
[4, 5, 5, 8, 9, 10, 20]
[4, 5, 5, 8, 9, 10, 20]
[4, 5, 5, 8, 9, 10, 20]
[4, 5, 5, 8, 9, 10, 20]

In [65]:
for item in marks:
    print(item)

4
5
5
8
9
10
20

### using while loop

In [67]:
index=0
while index<len(marks):
    print(marks[index])
    index+=1

4
5
5
8
9
10
20

In [75]:
index=0
sum=0
while index<len(marks):
    print(marks[index])
    sum=sum+marks[index]
    index+=1
print("\nsum=",sum)

4
5
5
8
9
10
20

sum= 61

In [ ]:
# Task1: print names end with u

In [76]:
names="mahesh ravi raghu krish balu"

In [77]:
names

'mahesh ravi raghu krish balu'

In [83]:
names="mahesh ravi raghu krish balu"
names_list=names.split(" ")
for name in names_list:
    if name.endswith("u"):
        print(name,end=" ")

raghu balu

In [ ]:
#Task2 print names which length is maximum

In [84]:
#Task3 print nameswhich ends with ovels(a,e,i,o,u)

In [92]:
names="mahesh ravi raghu krish balu"
names_list=names.split(" ")
for name in names_list:
    if name.endswith("a,e,i,o,u"):
        print(name,end=" ")

'mahesh ravi raghu krish balu'

In [ ]:
# Task4 palindrome string: need to find and print whether this string is palindrome or not. 
# if yes,print "YES" else print "NO"

In [93]:
# task5 Toogle string:you have been

### tuple

- tuple is immutable data type in python
- it is also like list but it can't change once created
- it is represented by Paranthesis()symbol

In [5]:
t=tuple()
t

()

In [6]:
ages=(20,21,22)

In [7]:
ages

(20, 21, 22)

### indexing in tuple

### tuple methods

In [97]:
ages.index(21)

1

In [98]:
ages.index(20)

0

In [99]:
ages.index(22)

2

In [100]:
ages.count(21)

1

In [101]:
ages.count(20)

1

In [102]:
ages.count(22)

1

In [8]:
ages

(20, 21, 22)

In [6]:
a,b,c=ages

NameError: name 'ages' is not defined

In [9]:
a = 1,2,3
a,type(a)

((1, 2, 3), tuple)

In [10]:
ages

(20, 21, 22)

In [11]:
for item in ages[::-1]:
    print(item)

22
21
20

In [12]:
for item in ages:
    print(item)

20
21
22

# set

In [13]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [14]:
s=1,2,3
s,type(s)

((1, 2, 3), tuple)

In [15]:
len(s)

3

In [16]:
s

(1, 2, 3)

In [17]:
max(s)

3

In [18]:
min(s)

1

In [19]:
l=[1,2,4,1,3,5,5]
set(l),l

({1, 2, 3, 4, 5}, [1, 2, 4, 1, 3, 5, 5])

In [20]:
a={1,2,3,4}
b={3,4,5,6}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [21]:
a.intersection(b)

{3, 4}

In [22]:
a.difference(b)

{1, 2}

In [23]:
b.difference(a)

{5, 6}

In [24]:
a,b

({1, 2, 3, 4}, {3, 4, 5, 6})

In [25]:
a.difference_update(b)

In [26]:
c={1}

In [27]:
c

{1}

In [28]:
c.issubset(a),b,c

(True, {3, 4, 5, 6}, {1})

In [29]:
c.issubset(a),a,c

(True, {1, 2}, {1})

In [30]:
a.isdisjoint(c)

False

In [31]:
a.issuperset(c)

True